/* NATHAN REFACTOR */

/* Home page body styles */
body {
    margin: 0;
    background-color: #000000e1;
}

/* --- NAVBAR ---  */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F7FD;
}

nav ul {
    display: flex;
    gap: 1em;
    list-style-type: none;
}

nav > * { 
    margin: 1em;
}

nav li::after{
    content: '';
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: red;
    position: absolute;
    transition: width 0.3s ease;
}

nav li:hover::after{
    width: 100%;
}

nav li:first-child:after {
    content: '';
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #E91C22;
    position: absolute;
    transition: width 0.3s ease;
}

.hamburger {
    display: none;
    cursor: pointer;
    position: fixed;
    z-index: 100;
    background: transparent;
    border: none;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #000;
    transition: all 0.3s ease;  
}

/* --- HERO ---  */

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-section h1 {
    color: white;
    text-align: center;
}

.hero-card-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.hero-card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0 50px 0 50px;
}

.hero-card svg {
    width: 78px;
    height: 48px;
    color: #E91C22;
}

.hero-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: auto;
    border-radius: 25px;
}

.hamburger {
    display: none;
    cursor: pointer;
    position: fixed;
    z-index: 100;
    background: transparent;
    border: none;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #000;
    transition: all 0.3s ease;  
}

/* QUIZ BUTTON */

.quiz-button {
    display: block;
    margin: 0 auto;
    padding: 15px 30px;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 25px;
    background: linear-gradient(143deg, rgba(200, 88, 159, 0.91), rgba(255, 0, 0, 0.69));
}

.quiz-button:hover {
    transform: scale(1.2);
}

/* FOOTER */

footer {
    background-color: white;
    padding: 15px;
}

footer p {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 5px;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
    .hero-card-container {
        flex-direction: column;
    }

    div nav {
        display: flex;
        align-items: center;
    }

    nav {
        display: flex;
        justify-content: flex-end;
    }

    .hamburger {
        display: block;
        position: absolute;
        left: 20px;
        top: 25px;
    }

    nav ul {
        display: none;
        position: fixed;
        top: 0;
        left: -0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-color: white;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 99;
        text-align: center;
        margin: 0;
        gap: 25px;
    }

    nav.active ul {
        display: flex;
    }

    nav li {
        font-size: 24px;
        margin-right: 80px;
        position: relative;
        top: 15px;
        z-index: 100;
    }


    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        position: fixed;
    }

    .hamburger.active span:nth-child(3) {
        transform: translateY(-5px) rotate(-45deg);
        position: fixed;
    }   
}