/* Home page styles */

/* Navigation bar styles */
nav {
    display: flex;
    align-items: center;
    background-color: #F8F7FD;
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;             
}

.navbar-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #E91C22;
    margin-left: 260px;
    margin-right: auto;
}

nav ul {
    display: flex;
    gap: 25px;
    justify-content: right;
    margin-right: 200px;
}

nav li {
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
    color: rgb(0, 0, 0);
}

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/* Home page body styles */
body {
    margin: 0;
    background-color: #1b0c0ffa;
}

/* Hero section styles */
.hero-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: auto;
    border-radius: 25px;
}

@media screen and (max-width: 768px) {
    .hero-image {
        width: 80%;
    }
}

.hero-section-heading {
    text-align: center;
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 20px;
    margin-left: 20px;
    font-weight: 600;
}

.quiz-button {
    display: block;
    margin: 0 auto;
    padding: 15px 30px;
    font-size: 20px;
    background-color: rgb(112, 112, 241);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 25px;
}

/* hamburger nav styles */

.hamburger {
    display: none;
    cursor: pointer;
    position: fixed;
    z-index: 100;
    background: transparent;
    border: none;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #000;
    transition: all 0.3s ease;  
}

@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
        position: absolute;
        left: 20px;
        top: 25px;
    }

    
    nav ul {
        display: none;
        position: fixed;
        top: 0;
        left: -0;
        width: 100%;
        height: 100vh;
        background-color: rgb(112, 112, 241);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 99;
        text-align: center;
        margin: 0;
        gap: 25px;
    }

    nav.active ul {
        display: flex;
    }

    nav li {
        font-size: 24px;
        margin-right: 80px;
        position: relative;
        top: 15px;
        z-index: 100;
    }


    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        position: fixed;
    }

    .hamburger.active span:nth-child(3) {
        transform: translateY(-5px) rotate(-45deg);
        position: fixed;
    }
    
}

.hero-card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.hero-card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 180px;
    margin-bottom: 20px;
    padding: 15px;
}


.hero-card p {
    font-size: 16px;
}
.hero-card svg {
    width: 48px;
    height: 48px;
    color: #E91C22;
}

.hero-card h2 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #E91C22;}