
nav {
    align-items: center;
    background-color: #F8F7FD;
    display: flex;
    justify-content: space-around;
    padding-bottom: 25px;
    padding-top: 25px;
    position: relative;
}

.navbar-title {
    color: #E91C22;
    display: flex;
    font-size: 1.5rem;  
    font-weight: bold;
    margin-left: 60px;
    margin-right: auto;
}

nav ul {
    display: flex;
    gap: 25px;
    justify-content: right;
    margin-right: 200px;
}

nav li {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    list-style: none;
    position: relative;
    text-align: center;
}

nav li::after {
    background: red;
    bottom: 0;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    transition: width 0.3s ease;
    width: 0%;
}

nav li:hover::after {
    width: 100%;
}

nav li:nth-child(2):after {
    background: #E91C22;
    bottom: 0;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    transition: width 0.3s ease;
    width: 100%;
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

/* Home page body styles */
body {
    background-color: #000000e1;
    margin: 0;
}

/* Hero section styles */
.hero-image {
    border-radius: 25px;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

@media screen and (max-width: 768px) {
    .hero-image {
        width: 80%;
    }
}

.hero-section-heading {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    text-align: center;
}

.quiz-button {
    background: linear-gradient(143deg, rgba(200, 88, 159, 0.91), rgba(255, 0, 0, 0.69));
    background-color: rgb(112, 112, 241);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 20px;
    margin: 0 auto;
    margin-bottom: 25px;
    margin-top: 20px;
    padding: 15px 30px;
}

/* hamburger nav styles */
.hamburger {
    background: transparent;
    border: none;
    cursor: pointer;
    display: none;
    position: fixed;
    z-index: 100;
}

.hamburger span {
    background-color: #000;
    display: block;
    height: 3px;
    margin: 5px;
    transition: all 0.3s ease;
    width: 25px;
}

@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
        left: 20px;
        position: absolute;
        top: 25px;
    }

    
    nav ul {
        align-items: center;
        background-color: rgb(255, 255, 255);
        display: none;
        flex-direction: column;
        gap: 25px;
        height: 100vh;
        justify-content: center;
        left: -0;
        margin: 0;
        position: fixed;
        text-align: center;
        top: 0;
        width: 100%;
        z-index: 99;
    }

    nav.active ul {
        display: flex;
    }

    nav li {
        font-size: 24px;
        margin-right: 80px;
        position: relative;
        top: 15px;
        z-index: 100;
    }

    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active span:nth-child(1) {
        position: fixed;
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active span:nth-child(3) {
        position: fixed;
        transform: translateY(-5px) rotate(-45deg);
    }
}

/* Quiz page styles */
.quiz-container {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    max-width: 660px;
    padding: 20px;
    width: 80%;
}

.quiz-question {
    color: #E91C22;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.quiz-option {
    background: none;
    border: 1px solid rgba(0, 0, 0, 0.598);
    border-radius: 10px;
    color: #000000;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    margin-bottom: 10px;
    padding: 15px;
    text-align: left;
    width: 100%;
}

.answer-button {
    background: none;
    border: 1px solid rgba(0, 0, 0, 0.598);
    border-radius: 10px;
    color: #000000;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    margin-bottom: 10px;
    padding: 15px;
    text-align: left;
    width: 100%;
}

.answer-button:hover {
    background-color: #000;
    color: white;
}

.answer-button:disabled {
    cursor: not-allowed;
}

.quiz-option:hover {
    background-color: black;
    color: white;
}

.quiz-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.quiz-progress {
    color: #000000be;
    font-size: 1.2rem;
    position: relative;
    top: -12px;
}

.progress-bar {
    background-color: #000000;
    border-radius: 5px;
    color: red;
    height: 10px;
    overflow: hidden;
    width: 100%;
}

#next-btn, .previous {
    background: linear-gradient(143deg, rgba(200, 88, 159, 0.91), rgba(255, 0, 0, 0.69));
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.button-style {
    display: flex;
    gap: 5px;
    justify-content: center;
}

#next-btn:hover {
    transform: scale(1.2);
}

.previous:hover {
    transform: scale(1.2);
}

#question {
    font-size: 28px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.correct {
    background: #9aeabc;
}

.incorrect {
    background: #ff9393;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}





