
nav {
    align-items: center;
    background-color: #F8F7FD;
    display: flex;
    padding-bottom: 25px;
    padding-top: 25px;
    position: relative;
}

.navbar-title {
    color: #E91C22;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 60px;
    margin-right: auto;
}

nav ul {
    display: flex;
    gap: 25px;
    justify-content: right;
    margin-right: 200px;
}

nav li {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    list-style: none;
    position: relative;
    text-align: center;
}

nav li::after {
    background: red;
    bottom: 0;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    transition: width 0.3s ease;
    width: 0%;
}

nav li:hover::after {
    width: 100%;
}

nav li:nth-child(3):after {
    background: #E91C22;
    bottom: 0;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    transition: width 0.3s ease;
    width: 100%;
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

/* Home page body styles */
body {
    background-color: #000000e1;
    margin: 0;
}

/* Hero section styles */
.hero-image {
    border-radius: 25px;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

@media screen and (max-width: 768px) {
    .hero-image {
        width: 80%;
    }
}

.hero-section-heading {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    text-align: center;
}

.quiz-button {
    -moz-background: linear-gradient(143deg, rgba(200, 88, 159, 0.91), rgba(255, 0, 0, 0.69));
    -webkit-background: linear-gradient(143deg, rgba(200, 88, 159, 0.91), rgba(255, 0, 0, 0.69));
    background: linear-gradient(143deg, rgba(200, 88, 159, 0.91), rgba(255, 0, 0, 0.69));
    background-color: rgb(112, 112, 241);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 20px;
    margin: 0 auto;
    margin-bottom: 25px;
    margin-top: 20px;
    padding: 15px 30px;
}

/* hamburger nav styles */
.hamburger {
    background: transparent;
    border: none;
    cursor: pointer;
    display: none;
    position: fixed;
    z-index: 100;
}

.hamburger span {
    background-color: #000;
    display: block;
    height: 3px;
    margin: 5px;
    transition: all 0.3s ease;
    width: 25px;
}

@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
        left: 20px;
        position: absolute;
        top: 25px;
    }

    nav ul {
        align-items: center;
        background-color: white;
        display: none;
        flex-direction: column;
        gap: 25px;
        height: 100vh;
        justify-content: center;
        left: -0;
        margin: 0;
        position: fixed;
        text-align: center;
        top: 0;
        width: 100%;
        z-index: 99;
    }

    nav.active ul {
        display: flex;
    }

    nav li {
        font-size: 24px;
        margin-right: 80px;
        position: relative;
        top: 15px;
        z-index: 100;
    }

    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active span:nth-child(1) {
        position: fixed;
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active span:nth-child(3) {
        position: fixed;
        transform: translateY(-5px) rotate(-45deg);
    }
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Results page */
#results-container {
    margin: 50px auto;
    max-width: 660px;
    padding: 20px;
    text-align: center;
}

.result-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(233, 28, 34, 0.4);
    margin-top: 20px;
    padding: 30px;
}

.result-card h2 {
    color: #E91C22;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.result-card h3 {
    font-size: 1.8rem;
    margin-top: 20px;
}

.result-card p {
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.quiz-button {
    -moz-background: linear-gradient(143deg, rgba(200, 88, 159, 0.91), rgba(255, 0, 0, 0.69));
    -webkit-background: linear-gradient(143deg, rgba(200, 88, 159, 0.91), rgba(255, 0, 0, 0.69));
    background: linear-gradient(143deg, rgba(200, 88, 159, 0.91), rgba(255, 0, 0, 0.69));
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 20px;
    margin: 25px auto;
    padding: 15px 30px;
    transition: transform 0.2s;
}

.quiz-button:hover {
    transform: scale(1.05);
}

/*javascript classList for heading in results page */

