/* Home page styles */

/* Navigation bar styles */
nav {
    background-color: rgb(112, 112, 241);
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
}
nav ul {
    display: flex;
    gap: 25px;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}

/* Home page body styles */
body {
    margin: 0;
}

.home-body {
    background-color: #ffffff;
}

/* Hero section styles */
.hero-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: auto;
}

@media screen and (max-width: 768px) {
    .hero-image {
        width: 80%;
    }
}

.hero-section-heading {
    text-align: center;
    font-size: auto;
    color: rgb(0, 0, 0);
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 20px;
    margin-left: 20px;
}

.quiz-button {
    display: block;
    margin: 0 auto;
    padding: 15px 30px;
    font-size: 20px;
    background-color: rgb(112, 112, 241);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

/* hamburger nav styles */

.hamburger {
    display: none;
    cursor: pointer;
    position: fixed;
    z-index: 100;
    background: transparent;
    border: none;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #000;
    transition: all 0.3s ease;  
}

@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
        position: absolute;
        left: 20px;
        top: 10px;
    }

    
    nav ul {
        display: none;
        position: fixed;
        top: 0;
        left: -0;
        width: 100%;
        height: 100vh;
        background-color: rgb(112, 112, 241);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 99;
        text-align: center;
        margin: 0;
        gap: 25px;
    }

    nav.active ul {
        display: flex;
    }

    nav li {
        font-size: 24px;
        margin-right: 80px;
        position: relative;
        top: 15px;
    }


    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        position: fixed;
    }

    .hamburger.active span:nth-child(3) {
        transform: translateY(-5px) rotate(-45deg);
        position: fixed;
    }
}

